@model Jigoku.Core.Entities.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Register</title>
</head>
<body>
    <div>
		@Html.ValidationSummary()
        <p>Логин: @Html.TextBoxFor(m => m.NickName)</p>
		<p>Пароль: @Html.PasswordFor(m => m.Password)</p>
		<p>Электронный адрес: @Html.TextBoxFor(m => m.PrimaryMail)</p>
    </div>
</body>
</html>
